<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TasteTopia</title>

    <link rel="manifest" href="./app.webmanifest" />
    <meta
      name="description"
      content="TasteTopia adalah web yang menyediakan berbagai macam daftar restoran (ini merupakan project akhir dari course Front End Expert Dicoding)"
    />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
  </head>
  <body class="body">
    <a tabindex="1" class="skip_to_content"> Skip to Content </a>
    <navbar-element></navbar-element>
    <main id="content"></main>
    <footer-element></footer-element>
  </body>
</html>
